<a href="https://colab.research.google.com/github/vijaybhaskar98/Customer_Analytics/blob/main/Stats_Project_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing necessary libraries; Connecting with data file

In [1]:
import pandas as pd
import numpy as np
import matplotlib as ploty
from scipy import stats

data = pd.read_csv("/content/drive/MyDrive/Projects/Python projects/Stats_Project_01/Brain Size Data.csv",encoding='latin1')

In [ ]:
data.head()

Find out mean VIQ for each gender by grouping gnder column

In [ ]:
gender_data = data.groupby("Gender")


for name,value in gender_data['VIQ']:
 print(name,np.mean(value))

Female 109.45
Male 115.25

In above code for loop takes the gender_data as a dataframe ,and assign index vaue to "name" and specified VIQ value to to "value" string

Studets t-test

In [ ]:
stats.ttest_1samp(data['VIQ'], 0)

TtestResult(statistic=30.08809997084933, pvalue=1.3289196468727879e-28, df=39)

Students t -test twosample test

In [ ]:
female_viq =data[data['Gender']=='Female']['VIQ']
male_viq =data[data['Gender']=='Male']['VIQ']
stats.ttest_ind(female_viq,male_viq)

Ttest_indResult(statistic=-0.7726161723275012, pvalue=0.44452876778583217)